.html {
  font-family: GTWalsheim, system-ui, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-family: -apple-system, "GTWalsheim, system-ui", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 244, 245);
}
button {
  cursor: pointer;
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
